.tiptap-button-text-color {
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 2px;
  background: var(--text-color);
  
  &::before {
    content: "A";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
    font-weight: bold;
    color: var(--text-color);
  }
}